In [3]:
import os

import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 20)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 20)

import numpy as np  
from scipy.stats import ttest_ind

from sklearn import linear_model, metrics

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

In [4]:
df = pd.read_excel(os.path.join('..', 'final-project', 'Final_Project', 'Lineup_Breakdown.xlsx'), sheetname = 'Total',
                  header = 1)

In [36]:
df

,PlayerName,OffPoss,OffPts,OPPP,DefPoss,DefPts,DPPP,+/-,TotPoss,Position
ID,,,,,,,,,,
1,Justin,59,57,0.966102,56,52,0.928571,5,115,1
1,Phil,59,57,0.966102,56,52,0.928571,5,115,2
1,Daniel R,59,57,0.966102,56,52,0.928571,5,115,3
1,Brayden,59,57,0.966102,56,52,0.928571,5,115,4
1,Travis,59,57,0.966102,56,52,0.928571,5,115,5
2,Daniel S,13,15,1.153846,15,13,0.866667,2,28,1
2,Evan,13,15,1.153846,15,13,0.866667,2,28,2
2,Mike,13,15,1.153846,15,13,0.866667,2,28,3
2,Adam,13,15,1.153846,15,13,0.866667,2,28,4
2,Bryce,13,15,1.153846,15,13,0.866667,2,28,5
...,...,...,...,...,...,...,...,...,...,...
286,KJ,2,2,1.000000,2,2,1.000000,0,4,1
286,Luke,2,2,1.000000,2,2,1.000000,0,4,2
286,Andrew,2,2,1.000000,2,2,1.000000,0,4,3
286,Daniel R,2,2,1.000000,2,2,1.000000,0,4,4
286,Travis,2,2,1.000000,2,2,1.000000,0,4,5
287,Daniel S,3,6,2.000000,3,5,1.666667,1,6,1
287,Justin,3,6,2.000000,3,5,1.666667,1,6,2
287,Mike,3,6,2.000000,3,5,1.666667,1,6,3
287,Adam,3,6,2.000000,3,5,1.666667,1,6,4
287,Brayden,3,6,2.000000,3,5,1.666667,1,6,5

In [3]:
df.isnull().sum().sum()

0

In [71]:
df = df.set_index('ID')

In [16]:
df_2 = df[df.PlayerName == 'Daniel R']
len(df_2.Position.unique())

3

In [42]:
DR = pd.DataFrame({'Player': ['Daniel_R_3' , 'Daniel_R_4'],
    'OPoss': [DR3.OffPoss.sum() , DR4.OffPoss.sum()],
    'OPts': [DR3.OffPts.sum() , DR4.OffPts.sum()],
    'DPoss': [DR3.DefPoss.sum() , DR4.DefPoss.sum()],
    'OPPP': [DR3.OffPts.sum() *1. / DR3.OffPoss.sum() , DR4.OffPts.sum() * 1. / DR4.OffPoss.sum()],
    'DPPP': [DR3.DefPts.sum() *1. / DR3.DefPoss.sum() , DR4.DefPts.sum() * 1. / DR4.DefPoss.sum()],
    'DPts': [DR3.DefPts.sum() , DR4.DefPts.sum()]}).\
        set_index('Player')
DR = DR[['OPoss', 'OPts', 'OPPP', 'DPoss', 'DPts', 'DPPP']]

In [45]:
DR

            OPoss  OPts      OPPP  DPoss  DPts      DPPP
Player
Daniel_R_3    920   973  1.057609    915   884  0.966120
Daniel_R_4    437   489  1.118993    429   412  0.960373

In [50]:
MM3 = df[df.PlayerName == 'Mike']
MM3 = MM3[MM3.Position == 3]
MM4 = df[df.PlayerName == 'Mike']
MM4 = MM4[MM4.Position == 4]

In [51]:
MM = pd.DataFrame({'Player': ['Mike_3' , 'Mike_4'],
    'OPoss': [MM3.OffPoss.sum() , MM4.OffPoss.sum()],
    'OPts': [MM3.OffPts.sum() , MM4.OffPts.sum()],
    'DPoss': [MM3.DefPoss.sum() , MM4.DefPoss.sum()],
    'OPPP': [MM3.OffPts.sum() *1. / MM3.OffPoss.sum() , MM4.OffPts.sum() * 1. / MM4.OffPoss.sum()],
    'DPPP': [MM3.DefPts.sum() *1. / MM3.DefPoss.sum() , MM4.DefPts.sum() * 1. / MM4.DefPoss.sum()],
    'DPts': [MM3.DefPts.sum() , MM4.DefPts.sum()]}).\
        set_index('Player')
MM = MM[['OPoss', 'OPts', 'OPPP', 'DPoss', 'DPts', 'DPPP']]
MM

        OPoss  OPts      OPPP  DPoss  DPts      DPPP
Player
Mike_3    597   610  1.021776    599   585  0.976628
Mike_4    154   169  1.097403    151   166  1.099338

In [55]:
PR1 = df[df.PlayerName == 'Phil']
PR1 = PR1[PR1.Position == 1]
PR2 = df[df.PlayerName == 'Phil']
PR2 = PR2[PR2.Position == 2]
PR3 = df[df.PlayerName == 'Phil']
PR3 = PR3[PR3.Position == 3]

In [57]:
PR1.TotPoss.sum()

106

In [11]:
def separate(df , player, position):
    df = df.loc[(df.PlayerName == player) & (df.Position == position)]
    return df

In [19]:
separate(df,'Brayden',5)

,PlayerName,OffPoss,OffPts,OPPP,DefPoss,DefPts,DPPP,+/-,TotPoss,Position
ID,,,,,,,,,,
3,Brayden,31,41,1.322581,27,33,1.222222,8,58,5
13,Brayden,5,8,1.600000,5,10,2.000000,-2,10,5
20,Brayden,4,8,2.000000,4,6,1.500000,2,8,5
51,Brayden,1,0,0.000000,1,0,0.000000,0,2,5
52,Brayden,1,2,2.000000,1,2,2.000000,0,2,5
54,Brayden,1,3,3.000000,0,0,0.000000,3,1,5
56,Brayden,1,0,0.000000,1,0,0.000000,0,2,5
57,Brayden,10,14,1.400000,9,3,0.333333,11,19,5
62,Brayden,7,4,0.571429,7,8,1.142857,-4,14,5
91,Brayden,15,17,1.133333,14,21,1.500000,-4,29,5
...,...,...,...,...,...,...,...,...,...,...
172,Brayden,1,0,0.000000,3,4,1.333333,-4,4,5
244,Brayden,8,10,1.250000,8,6,0.750000,4,16,5
245,Brayden,1,0,0.000000,2,0,0.000000,0,3,5
248,Brayden,9,7,0.777778,10,8,0.800000,-1,19,5
264,Brayden,2,3,1.500000,1,0,0.000000,3,3,5
266,Brayden,1,2,2.000000,0,0,0.000000,2,1,5
270,Brayden,4,3,0.750000,3,3,1.000000,0,7,5
271,Brayden,7,9,1.285714,5,6,1.200000,3,12,5
285,Brayden,6,8,1.333333,6,6,1.000000,2,12,5
287,Brayden,3,6,2.000000,3,5,1.666667,1,6,5

In [5]:
X = df[ ['ID', 'OPPP' , 'DPPP'] ]
X

       ID      OPPP      DPPP
0       1  0.966102  0.928571
1       1  0.966102  0.928571
2       1  0.966102  0.928571
3       1  0.966102  0.928571
4       1  0.966102  0.928571
5       2  1.153846  0.866667
6       2  1.153846  0.866667
7       2  1.153846  0.866667
8       2  1.153846  0.866667
9       2  1.153846  0.866667
...   ...       ...       ...
1425  286  1.000000  1.000000
1426  286  1.000000  1.000000
1427  286  1.000000  1.000000
1428  286  1.000000  1.000000
1429  286  1.000000  1.000000
1430  287  2.000000  1.666667
1431  287  2.000000  1.666667
1432  287  2.000000  1.666667
1433  287  2.000000  1.666667
1434  287  2.000000  1.666667

[1435 rows x 3 columns]

In [6]:
c = df.PlayerName

In [7]:
cs = pd.get_dummies(c, prefix = None)
cs.rename(columns = {'Daniel R':'DanielR' , 'Daniel S': 'DanielS'}, inplace = True)
cs['ID'] = df.ID
cs1 = cs.groupby(cs.ID).sum()

In [8]:
stats = X.drop_duplicates(subset = ['ID'], keep= 'last').reset_index(drop = 'True').set_index('ID')
stats

         OPPP      DPPP
ID
1    0.966102  0.928571
2    1.153846  0.866667
3    1.322581  1.222222
4    1.600000  1.333333
5    1.750000  1.250000
6    0.750000  1.000000
7    0.846154  0.769231
8    1.076923  0.666667
9    1.600000  2.000000
10   1.400000  0.818182
..        ...       ...
278  0.000000  2.000000
279  0.666667  0.000000
280  2.000000  0.000000
281  2.000000  0.000000
282  1.800000  1.000000
283  0.500000  1.000000
284  0.000000  2.000000
285  1.333333  1.000000
286  1.000000  1.000000
287  2.000000  1.666667

[287 rows x 2 columns]

In [25]:
model_DanielR = linear_model.LogisticRegression().\
    fit(X, cs.DanielR)

print model_DanielR.coef_
print model_DanielR.intercept_

[[-0.00157385 -0.08741535  0.02423981]]
[-2.19569684]

In [26]:
model_DanielR.score(X, cs.DanielR)

0.90662020905923346

In [9]:
cs['OPPP'] = X.OPPP
cs['DPPP'] = X.DPPP

In [10]:
y1 = cs.OPPP[cs['DanielR'] == 1]
y1_id = cs.ID[cs['DanielR'] == 1]
y2 = cs.OPPP[cs.DanielR == 0]

In [11]:
drop = y1_id.values
drop
#cs.OPPP.drop(drop) #all OPPPs

array([  1,   3,   6,   7,  12,  13,  15,  16,  20,  23,  24,  25,  29,
        30,  32,  33,  37,  39,  41,  42,  45,  46,  47,  48,  51,  53,
        54,  57,  62,  65,  67,  68,  71,  74,  75,  77,  79,  80,  81,
        82,  84,  85,  86,  87,  91,  92,  94,  95,  97,  98,  99, 100,
       101, 102, 106, 108, 109, 110, 114, 115, 118, 119, 120, 125, 129,
       131, 132, 136, 138, 142, 143, 145, 146, 148, 149, 150, 152, 154,
       155, 156, 157, 158, 161, 162, 163, 168, 169, 170, 171, 172, 174,
       176, 178, 180, 188, 191, 192, 197, 203, 205, 211, 213, 219, 221,
       223, 225, 226, 231, 234, 235, 239, 240, 247, 250, 252, 253, 254,
       255, 256, 257, 258, 263, 264, 266, 268, 269, 270, 272, 275, 278,
       279, 281, 285, 286], dtype=int64)

In [12]:
def OPPPdup(player):
    y1_id = cs.ID[cs[player] == 1]
    drop = y1_id.values
    cs1 = cs.drop_duplicates(subset = ['ID'], keep= 'last')
    cs1 = cs1.set_index('ID')
    return cs1.OPPP.drop(drop)

In [13]:
def DPPPdup(player):
    y1_id = cs.ID[cs[player] == 1]
    drop = y1_id.values
    cs1 = cs.drop_duplicates(subset = ['ID'], keep= 'last')
    cs1 = cs1.set_index('ID')
    return cs1.DPPP.drop(drop)

In [11]:
OPPPdup('DanielR')

ID
2      1.153846
4      1.600000
5      1.750000
8      1.076923
9      1.600000
10     1.400000
11     0.647059
14     1.090909
17     2.333333
18     1.600000
         ...
271    1.285714
273    0.000000
274    3.000000
276    1.000000
277    1.428571
280    2.000000
282    1.800000
283    0.500000
284    0.000000
287    2.000000
Name: OPPP, dtype: float64

In [12]:
y2 = cs.OPPP[cs.DanielR == 0]
y2

0       0.966102
1       0.966102
3       0.966102
4       0.966102
5       1.153846
6       1.153846
7       1.153846
8       1.153846
9       1.153846
10      1.322581
          ...
1424    1.333333
1425    1.000000
1426    1.000000
1427    1.000000
1429    1.000000
1430    2.000000
1431    2.000000
1432    2.000000
1433    2.000000
1434    2.000000
Name: OPPP, dtype: float64

In [11]:
t_val, p_val = ttest_ind(y1, y2)
print 't_test results:'
print 't-value', t_val
print 'p-value', p_val

t_test results:
t-value 0.765174740926
p-value 0.444293495225

In [14]:
def OPPPtest(player):
    y1 = cs.OPPP[cs[player] == 1].values
    y2 = OPPPdup(player)
    t_val, p_val = ttest_ind(y1, y2)
    print player, 'results:'
    print 't-value', t_val
    print 'p-value', p_val

In [15]:
OPPPtest('Adam')

Adam results:
t-value -0.93050086883
p-value 0.35289931228

In [16]:
print OPPPtest('Adam')
print OPPPtest('Andrew')
print OPPPtest('Brayden')
print OPPPtest('Bryce')
print OPPPtest('DanielR')
print OPPPtest('DanielS')
print OPPPtest('Evan')
print OPPPtest('Justin')
print OPPPtest('Mike')
print OPPPtest('Phil')
print OPPPtest('Travis')

Adam results:
t-value -0.93050086883
p-value 0.35289931228
None
Andrew results:
t-value -0.949001652279
p-value 0.343423783861
None
Brayden results:
t-value 1.65455093351
p-value 0.0991164544606
None
Bryce results:
t-value -0.138125508693
p-value 0.890238765373
None
DanielR results:
t-value 0.996597095896
p-value 0.319805501258
None
DanielS results:
t-value 0.0236831922564
p-value 0.981121886059
None
Evan results:
t-value -0.52645050509
p-value 0.598984691145
None
Justin results:
t-value -0.827922840463
p-value 0.408406934383
None
Mike results:
t-value 1.58746570514
p-value 0.113515994573
None
Phil results:
t-value 0.156682064832
p-value 0.875606355966
None
Travis results:
t-value 1.62337245191
p-value 0.105615331405
None

In [17]:
def DPPPtest(player):
    y1 = cs.DPPP[cs[player] == 1].values
    y2 = DPPPdup(player)
    t_val, p_val = ttest_ind(y1, y2)
    print player,'results:'
    print 't-value', t_val
    print 'p-value', p_val

In [18]:
print DPPPtest('Adam')
print DPPPtest('Andrew')
print DPPPtest('Brayden')
print DPPPtest('Bryce')
print DPPPtest('DanielR')
print DPPPtest('DanielS')
print DPPPtest('Evan')
print DPPPtest('Justin')
print DPPPtest('Mike')
print DPPPtest('Phil')
print DPPPtest('Travis')

Adam results:
t-value -0.672480949977
p-value 0.5018224038
None
Andrew results:
t-value -1.67315824473
p-value 0.0953933731771
None
Brayden results:
t-value 1.4793088053
p-value 0.140162249001
None
Bryce results:
t-value 1.25401360042
p-value 0.210864649106
None
DanielR results:
t-value -1.25584998364
p-value 0.210198928403
None
DanielS results:
t-value -1.33746243868
p-value 0.182138108755
None
Evan results:
t-value 0.900296019398
p-value 0.368722835741
None
Justin results:
t-value 0.45689559939
p-value 0.648094129393
None
Mike results:
t-value 0.766567632329
p-value 0.443973112256
None
Phil results:
t-value -0.178931203555
p-value 0.858118854733
None
Travis results:
t-value -0.881476162424
p-value 0.3788029347
None

In [19]:
cs1['OPPP'] = stats.OPPP
cs1['DPPP'] = stats.DPPP

In [20]:
cs1

,Adam,Andrew,Brayden,Bryce,Chris,DanielR,DanielS,Evan,Justin,KJ,Kyle,Luke,Mike,Phil,Travis,OPPP,DPPP
ID,,,,,,,,,,,,,,,,,
1,0,0,1,0,0,1,0,0,1,0,0,0,0,1,1,0.966102,0.928571
2,1,0,0,1,0,0,1,1,0,0,0,0,1,0,0,1.153846,0.866667
3,1,0,1,0,0,1,0,0,1,0,0,0,0,1,0,1.322581,1.222222
4,1,1,0,0,0,0,0,1,1,0,1,0,0,0,0,1.600000,1.333333
5,0,1,1,0,0,0,0,0,1,0,0,0,0,1,1,1.750000,1.250000
6,1,0,0,1,0,1,0,0,1,0,0,0,0,1,0,0.750000,1.000000
7,0,0,0,1,0,1,0,0,1,0,0,0,1,1,0,0.846154,0.769231
8,1,0,0,0,0,0,0,0,1,0,0,0,1,1,1,1.076923,0.666667
9,1,0,0,1,0,0,0,1,1,0,0,0,1,0,0,1.600000,2.000000
10,1,1,0,0,0,0,0,0,1,0,0,0,0,1,1,1.400000,0.818182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,0,0,0,0,0,1,0,1,1,0,0,0,1,1,0,0.000000,2.000000
279,1,0,0,0,0,1,1,1,0,0,0,0,0,1,0,0.666667,0.000000
280,1,1,0,0,0,0,0,0,0,1,0,0,0,1,1,2.000000,0.000000
281,0,0,0,0,0,1,1,0,1,0,0,0,1,1,0,2.000000,0.000000
282,1,1,0,0,0,0,0,1,1,0,0,0,1,0,0,1.800000,1.000000
283,1,1,0,0,0,0,0,1,1,0,0,0,1,0,0,0.500000,1.000000
284,1,1,0,0,0,0,0,1,1,0,0,0,1,0,0,0.000000,2.000000
285,1,0,1,0,0,1,0,1,0,0,0,0,0,1,0,1.333333,1.000000
286,0,1,0,0,0,1,0,0,0,1,0,1,0,0,1,1.000000,1.000000
287,1,0,1,0,0,0,1,0,1,0,0,0,1,0,0,2.000000,1.666667

In [21]:
def OPPPtest(player1,player2):
    y1 = cs1.OPPP[(cs1[player1] == 1) & (cs1[player2] == 1)].values
    y2 = cs1.OPPP[(cs1[player1] == 0) & (cs1[player2] == 0)].values
    t_val, p_val = ttest_ind(y1, y2)
    print player1,player2, 'results:'
    print 't-value', t_val
    print 'p-value', p_val

In [22]:
print OPPPtest('Brayden','Travis')
print OPPPtest('Brayden','Bryce')
print OPPPtest('Adam','Travis')
print OPPPtest('Adam','Bryce')
print OPPPtest('Adam','Brayden')
print OPPPtest('DanielS','Justin')
print OPPPtest('DanielS','Phil')
print OPPPtest('Justin','Phil')
print OPPPtest('Mike','Phil')
print OPPPtest('Phil','DanielR')

Brayden Travis results:
t-value 1.67310918544
p-value 0.0964325988139
None
Brayden Bryce results:
t-value 0.688875126658
p-value 0.491945149278
None
Adam Travis results:
t-value 0.199405278725
p-value 0.842241386116
None
Adam Bryce results:
t-value -1.11093903008
p-value 0.268433364022
None
Adam Brayden results:
t-value 0.640750982945
p-value 0.523029319265
None
DanielS Justin results:
t-value -0.66123277287
p-value 0.509925290199
None
DanielS Phil results:
t-value 0.124220545469
p-value 0.901338608549
None
Justin Phil results:
t-value -0.395868971403
p-value 0.692845685445
None
Mike Phil results:
t-value 1.25615980799
p-value 0.211078181909
None
Phil DanielR results:
t-value 0.824696654971
p-value 0.410977412229
None

In [23]:
def DPPPtest(player1,player2):
    y1 = cs1.DPPP[(cs1[player1] == 1) & (cs1[player2] == 1)].values
    y2 = cs1.DPPP[(cs1[player1] == 0) & (cs1[player2] == 0)].values
    t_val, p_val = ttest_ind(y1, y2)
    print player1,player2, 'results:'
    print 't-value', t_val
    print 'p-value', p_val

In [24]:
print DPPPtest('Brayden','Travis')
print DPPPtest('Brayden','Bryce')
print DPPPtest('Adam','Travis')
print DPPPtest('Adam','Bryce')
print DPPPtest('Adam','Brayden')
print DPPPtest('DanielS','Justin')
print DPPPtest('DanielS','Phil')
print DPPPtest('Justin','Phil')
print DPPPtest('Mike','Phil')
print DPPPtest('Phil','DanielR')

Brayden Travis results:
t-value 0.27031452278
p-value 0.787297433763
None
Brayden Bryce results:
t-value 2.17159303993
p-value 0.0314270023771
None
Adam Travis results:
t-value -0.854252132454
p-value 0.394456586457
None
Adam Bryce results:
t-value 0.442979237605
p-value 0.658440921794
None
Adam Brayden results:
t-value 0.243804246122
p-value 0.807840718971
None
DanielS Justin results:
t-value -0.633108229925
p-value 0.528052691739
None
DanielS Phil results:
t-value -1.04076817407
p-value 0.299976098562
None
Justin Phil results:
t-value 0.183066033212
p-value 0.855029233236
None
Mike Phil results:
t-value 0.41361534939
p-value 0.679766928779
None
Phil DanielR results:
t-value -1.08186708676
p-value 0.281212198855
None

In [119]:
print cs1.DPPP[(cs1['Brayden'] == 1) & (cs1['Bryce'] == 1)].mean()
print cs1.DPPP[(cs1['Brayden'] == 0) & (cs1['Bryce'] == 0)].mean()

1.22081349206
0.844258544814

In [25]:
def OPVPtest(player1,player2):
    y1 = cs1.OPPP[cs1[player1] == 1].values
    y2 = cs1.OPPP[cs1[player2] == 1].values
    t_val, p_val = ttest_ind(y1, y2)
    print player1, player2, 'results:'
    print 't-value', t_val
    print 'p-value', p_val

In [26]:
print OPVPtest('DanielS','Justin')
print OPVPtest('Brayden','Adam')
print OPVPtest('Justin','Phil')
print OPVPtest('DanielR','Mike')

DanielS Justin results:
t-value 0.403251540293
p-value 0.687055297798
None
Brayden Adam results:
t-value 1.42085058149
p-value 0.156763252553
None
Justin Phil results:
t-value -0.491001030394
p-value 0.623782321294
None
DanielR Mike results:
t-value -0.315818922382
p-value 0.752389484893
None

In [27]:
def DPVPtest(player1,player2):
    y1 = cs1.DPPP[cs1[player1] == 1].values
    y2 = cs1.DPPP[cs1[player2] == 1].values
    t_val, p_val = ttest_ind(y1, y2)
    print player1, player2, 'results:'
    print 't-value', t_val
    print 'p-value', p_val

In [28]:
print DPVPtest('DanielS','Justin')
print DPVPtest('Brayden','Adam')
print DPVPtest('Justin','Phil')
print DPVPtest('DanielR','Mike')

DanielS Justin results:
t-value -0.964060125369
p-value 0.335805385427
None
Brayden Adam results:
t-value 1.2439755009
p-value 0.214820459801
None
Justin Phil results:
t-value 0.332247875311
p-value 0.739932580905
None
DanielR Mike results:
t-value -1.10214124561
p-value 0.271404018588
None

In [77]:
from sklearn.decomposition import PCA

pca = PCA()
pca.fit(cs1)

pd.DataFrame(pca.transform(cs1))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.195759,0.094856,-0.253697,-0.692264,-0.652378,-1.074210,0.157844,-0.121610,-0.282968,0.423928,-0.122743,-0.163485,0.110049,-0.249141,0.076946,-0.018940,3.958378e-17
1,0.096323,0.091077,0.193062,0.199616,0.264829,1.567601,0.140321,0.295414,0.432365,-0.229568,-0.187742,-0.306441,-0.101467,-0.132637,-0.050488,-0.057856,2.426786e-16
2,0.262401,0.407139,-0.279538,-0.587612,0.002865,-0.366860,0.526161,-0.689153,-0.660953,0.524539,0.418676,-0.351091,-0.218702,0.080778,0.195305,-0.014653,4.638499e-17
3,0.126008,0.481596,0.025584,1.118674,0.419559,0.192943,1.000251,-0.137255,-0.347652,0.128578,0.467386,0.830984,0.011069,-0.208109,-0.306529,0.025105,-2.677927e-16
4,0.682575,0.547092,-0.212438,0.462496,-0.160167,-1.086893,-0.124285,0.317674,-0.804745,0.620109,-0.324625,0.043549,0.026882,-0.141212,-0.023966,0.036078,-1.518553e-16
5,-0.310882,-0.020857,-0.612761,-0.534977,0.272430,0.136951,0.542578,-1.034327,-0.354810,0.081540,-0.504871,-0.235475,-0.101145,-0.234996,0.013513,-0.067781,-3.996569e-17
6,-0.017604,0.007390,-0.945711,-0.413837,-0.387094,0.170016,-0.423637,-0.903043,0.198512,-0.194709,-0.479447,0.038352,-0.165771,-0.215260,0.036830,-0.059212,-1.181617e-16
7,0.218444,-0.159271,-1.354964,-0.099920,0.222439,-0.131287,0.231755,0.561188,-0.161580,-0.055671,0.099261,-0.332695,0.070195,-0.237828,0.039091,-0.033681,2.017391e-16
8,0.079639,1.397980,-0.595750,0.597201,-0.041398,1.085322,0.715527,-0.135329,0.082582,-0.277061,-0.183060,-0.150937,-0.138792,-0.158850,-0.017113,-0.070365,-1.128241e-16
9,0.353098,-0.172833,-0.704957,0.420706,0.637439,-0.670456,0.525317,0.370754,-0.759793,0.189293,-0.355995,0.067019,-0.089551,-0.126498,-0.030672,0.015432,-4.185811e-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,-1.178101,0.888804,-0.741045,-0.566481,-0.510900,-0.040905,0.066646,-0.198933,0.570282,0.053762,-0.002285,0.629568,-0.402013,0.396203,0.212476,0.031659,-2.932353e-16
278,-0.008277,-1.100254,0.305887,-0.840586,0.440747,0.566769,0.525151,-0.042132,0.381836,0.486357,0.013361,0.227966,-0.176816,0.391919,0.152863,0.016515,4.353485e-16
279,1.169045,-0.802241,-0.266260,0.705886,1.142764,-0.795621,0.319729,0.256690,0.117929,0.290710,-0.288324,-0.525105,0.001883,0.204641,-0.366585,0.041826,3.798374e-16
280,1.360324,-0.526996,-0.579182,-0.654868,-0.193394,0.273717,-0.519559,-0.354845,-0.084665,-0.327646,0.112669,0.482828,0.176135,0.423895,0.135483,0.025726,2.202428e-16
281,0.556254,0.343775,-0.501832,1.140985,0.062255,0.540337,0.614547,0.200861,-0.153798,-0.229366,0.311124,0.363092,-0.584130,0.264078,0.106375,0.013046,-1.926214e-16
282,-0.645257,-0.031001,-0.518122,0.969021,-0.118889,0.482840,0.502877,0.295849,-0.090218,-0.233337,0.313450,0.272551,-0.655049,0.230494,0.102916,0.019001,-3.660937e-16
283,-1.407198,0.738293,-0.442398,0.825704,-0.022205,0.365058,0.493054,0.381879,-0.133394,-0.330688,0.270685,0.289186,-0.734531,0.255843,0.107178,0.033635,-5.707911e-16
284,0.337903,0.229701,0.288920,-0.487773,0.152793,0.013633,0.712137,-0.335915,0.297257,1.065286,0.342186,-0.244771,-0.568648,0.101104,0.239370,-0.020906,3.486124e-16
285,0.024645,-0.139911,0.602451,0.527192,0.345342,-1.388060,0.140480,-0.169325,0.654325,-0.709631,-0.347559,-0.160164,0.076442,0.069054,0.384371,-0.459795,-1.787436e-16
286,0.750286,1.103258,-0.009458,0.057312,-0.055896,0.661856,-0.025869,0.284175,-0.869942,-0.360519,0.796264,-0.490278,0.127871,0.183762,0.089984,0.004612,-1.070417e-16