In [1]:
import os

import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

In [96]:
df = pd.read_csv(os.path.join('datasets', 'dataset-06-storms.csv.gz') , low_memory = False)

In [84]:
df

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,LONGITUDE,LATITUDE_E,LONGITUDE_,REMARKS,REFNUM
0,1.0,4/18/1950 0:00:00,130,CST,97.0,...,8812.0,3051.0,8806.0,NaN,1.0
1,1.0,4/18/1950 0:00:00,145,CST,3.0,...,8755.0,0.0,0.0,NaN,2.0
2,1.0,2/20/1951 0:00:00,1600,CST,57.0,...,8742.0,0.0,0.0,NaN,3.0
3,1.0,6/8/1951 0:00:00,900,CST,89.0,...,8626.0,0.0,0.0,NaN,4.0
4,1.0,11/15/1951 0:00:00,1500,CST,43.0,...,8642.0,0.0,0.0,NaN,5.0
...,...,...,...,...,...,...,...,...,...,...,...
902292,56.0,11/30/2011 0:00:00,10:30:00 PM,MST,7.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A strong cold front moved s...,902293.0
902293,30.0,11/10/2011 0:00:00,02:48:00 PM,MST,9.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A strong westerly flow alof...,902294.0
902294,2.0,11/8/2011 0:00:00,02:58:00 PM,AKS,213.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A 960 mb low over the south...,902295.0
902295,2.0,11/9/2011 0:00:00,10:21:00 AM,AKS,202.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A 960 mb low over the south...,902296.0
902296,1.0,11/28/2011 0:00:00,08:00:00 PM,CST,6.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: An intense upper level low ...,902297.0

In [19]:
df.describe()

,STATE__,COUNTY,BGN_RANGE,END_RANGE,LENGTH,...,CROPDMG,LATITUDE,LONGITUDE,LATITUDE_E,LONGITUDE_
count,902297.000000,902297.000000,902297.000000,902297.000000,902297.000000,...,902297.000000,902250.000000,902297.000000,902257.000000,902297.000000
mean,31.200958,100.642905,1.483889,0.986198,0.230130,...,1.527022,2874.942950,6939.538350,1451.611545,3509.139732
std,16.570178,107.276509,5.481574,3.374106,4.617236,...,22.173680,1657.648801,3958.062506,1858.727873,4475.682973
min,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-14451.000000,0.000000,-14455.000000
25%,19.000000,31.000000,0.000000,0.000000,0.000000,...,0.000000,2802.000000,7247.000000,0.000000,0.000000
50%,30.000000,75.000000,0.000000,0.000000,0.000000,...,0.000000,3540.000000,8707.000000,0.000000,0.000000
75%,45.000000,131.000000,1.000000,0.000000,0.000000,...,0.000000,4019.000000,9605.000000,3549.000000,8735.000000
max,95.000000,873.000000,3749.000000,925.000000,2315.000000,...,990.000000,9706.000000,17124.000000,9706.000000,106220.000000

In [28]:
list(df)

['STATE__',
 'BGN_DATE',
 'BGN_TIME',
 'TIME_ZONE',
 'COUNTY',
 'COUNTYNAME',
 'STATE',
 'EVTYPE',
 'BGN_RANGE',
 'BGN_AZI',
 'BGN_LOCATI',
 'END_DATE',
 'END_TIME',
 'END_RANGE',
 'END_AZI',
 'END_LOCATI',
 'LENGTH',
 'WIDTH',
 'F',
 'MAG',
 'FATALITIES',
 'INJURIES',
 'PROPDMG',
 'PROPDMGEXP',
 'CROPDMG',
 'CROPDMGEXP',
 'WFO',
 'STATEOFFIC',
 'ZONENAMES',
 'LATITUDE',
 'LONGITUDE',
 'LATITUDE_E',
 'LONGITUDE_',
 'REMARKS']

In [25]:
list(df.STATE)

['AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 'AL',
 ...]

In [85]:
df = df.set_index('REFNUM')

In [77]:
df = df.drop(['COUNTYENDN' , 'COUNTY_END'], axis = 1)

In [97]:
df = df[ ['EVTYPE', 'FATALITIES', 'INJURIES', 'PROPDMG', 'PROPDMGEXP', 'CROPDMG', 'CROPDMGEXP'] ]
df

,EVTYPE,FATALITIES,INJURIES,PROPDMG,PROPDMGEXP,CROPDMG,CROPDMGEXP
0,TORNADO,0.0,15.0,25.0,K,0.0,NaN
1,TORNADO,0.0,0.0,2.5,K,0.0,NaN
2,TORNADO,0.0,2.0,25.0,K,0.0,NaN
3,TORNADO,0.0,2.0,2.5,K,0.0,NaN
4,TORNADO,0.0,2.0,2.5,K,0.0,NaN
...,...,...,...,...,...,...,...
902292,HIGH WIND,0.0,0.0,0.0,K,0.0,K
902293,HIGH WIND,0.0,0.0,0.0,K,0.0,K
902294,HIGH WIND,0.0,0.0,0.0,K,0.0,K
902295,BLIZZARD,0.0,0.0,0.0,K,0.0,K
902296,HEAVY SNOW,0.0,0.0,0.0,K,0.0,K

In [51]:
df_1 = df[df.PROPDMGEXP == 'K' or 'k']
df_1 = df_1.drop('PROPDMGEXP', axis = 1)

# Scaling property damage to K
df_1.PROPDMG *= 1000

df_2 = df[df.PROPDMGEXP == 'M' or 'm']
df_2 = df_2.drop('PROPDMGEXP', axis = 1)

#Scaling property damage to M
df_2.PROPDMG *= 10 ** 6

df_3 = df[(df.PROPDMGEXP == 'B') | (df.PROPDMGEXP == 'b')]
df_3 = df_3.drop('PROPDMGEXP', axis = 1)

#Scaling property damage to B
df_3.PROPDMG *= 10 ** 9

df_4 = df[df.PROPDMGEXP < 9]
df_4 = df_4.drop('PROPDMGEXP', axis = 1)

#Scaling property damage to 10
df_4.PROPDMG *= 10

df_5 = df[df.PROPDMGEXP == 'H' or 'h']
df_5 = df_5.drop('PROPDMGEXP', axis = 1)

#Scaling property damage to 100
df_5.PROPDMG *= 100

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [89]:
df.CROPDMGEXP.unique()

array([nan, 'M', 'K', 'm', 'B', '?', '0', 'k', '2'], dtype=object)

In [49]:
df_propdmg = df[df.PROPDMGEXP == '0']
df_propdmg

,EVTYPE,FATALITIES,INJURIES,PROPDMG,PROPDMGEXP,CROPDMG,CROPDMGEXP
REFNUM,,,,,,,
189004.0,HIGH TIDES,0.0,0.0,150.0,0,0.0,NaN
193312.0,FLASH FLOOD,0.0,0.0,50.0,0,0.0,NaN
193313.0,LIGHTNING,0.0,0.0,5.0,0,0.0,NaN
193314.0,LIGHTNING,0.0,0.0,37.0,0,0.0,NaN
192276.0,HEAVY SNOW,0.0,0.0,0.0,0,0.0,NaN
...,...,...,...,...,...,...,...
245308.0,FLASH FLOOD,0.0,0.0,47.0,0,160.0,K
245436.0,LIGHTNING,0.0,0.0,5.0,0,0.0,NaN
245545.0,HIGH WINDS,0.0,0.0,35.0,0,0.0,NaN
245807.0,THUNDERSTORM WINDS,0.0,0.0,67.0,0,0.0,NaN
888351.0,FLASH FLOOD,0.0,0.0,0.0,0,0.0,K

In [98]:
df.PROPDMG *= df.PROPDMGEXP.map({'K': 1. * 1000, 'M': 1. * (10 ** 6), 'B': 1.* (10 ** 9), 'm': 1. * (10 ** 6), 'H': 1. * 100, 'h': 1. * 100, '0': 1. * 10, '1': 1. * 10, '2': 1. * 10, '3': 1. * 10, '4': 1. * 10, '5': 1. * 10, '6': 1. * 10, '7': 1. * 10, '8': 1. * 10})

In [99]:
df.PROPDMG

0         25000.0
1          2500.0
2         25000.0
3          2500.0
4          2500.0
           ...
902292        0.0
902293        0.0
902294        0.0
902295        0.0
902296        0.0
Name: PROPDMG, dtype: float64

In [101]:
df.CROPDMG *= df.CROPDMGEXP.map({'K': 1. * 1000, 'M': 1. * (10 ** 6), 'B': 1.* (10 ** 9), 'm': 1. * (10 ** 6), 'k': 1. * 1000, '0': 1. * 10,'2': 1. * 10})

In [102]:
df.CROPDMG

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
902292    0.0
902293    0.0
902294    0.0
902295    0.0
902296    0.0
Name: CROPDMG, dtype: float64

In [106]:
df[(df.FATALITIES > 0) | (df.PROPDMG > 0) | (df.CROPDMG > 0) | (df.INJURIES > 0)].EVTYPE.value_counts()

TSTM WIND             63234
THUNDERSTORM WIND     43654
TORNADO               39942
HAIL                  26124
FLASH FLOOD           20948
                      ...
WILD/FOREST FIRES         1
ICE ROADS                 1
Unseasonable Cold         1
EXCESSIVE RAINFALL        1
TSTM WIND 40              1
Name: EVTYPE, dtype: int64

,EVTYPE,FATALITIES,INJURIES,PROPDMG,PROPDMGEXP,CROPDMG,CROPDMGEXP
0,TORNADO,0.0,15.0,25000.0,K,NaN,NaN
1,TORNADO,0.0,0.0,2500.0,K,NaN,NaN
2,TORNADO,0.0,2.0,25000.0,K,NaN,NaN
3,TORNADO,0.0,2.0,2500.0,K,NaN,NaN
4,TORNADO,0.0,2.0,2500.0,K,NaN,NaN
...,...,...,...,...,...,...,...
902292,HIGH WIND,0.0,0.0,0.0,K,0.0,K
902293,HIGH WIND,0.0,0.0,0.0,K,0.0,K
902294,HIGH WIND,0.0,0.0,0.0,K,0.0,K
902295,BLIZZARD,0.0,0.0,0.0,K,0.0,K
902296,HEAVY SNOW,0.0,0.0,0.0,K,0.0,K